.firstBoxContainer{
    margin: 40px auto;
    border: 1px solid black;
    height: 400px;
    width: 350px;
}
.secondBox{
    margin: 0px auto;
    border: 1px solid black;
    height: 65px;
    width: 350px;
    margin-top: 10px;
}